{% extends 'gotrees/base.html' %}

{% block title %}Go Trees!{% endblock %}

{% block body %}
  <div class="container">
    <h1 style="z-index:5" class="display-3" style="position: relative; z-index:10; display: block;">This is Go Trees!</h1>
    <br>
    <br>
    <br>
    <p class="center main">Imaging a Place..</p>
    <p class="center main">where people could share all the trees they plant everyday</p>
    <p class="center main">and, where every tree will remember who planted it</p>
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="row justify-content-center align-items-center">
          <div class="col-2" style=" margin-right: 2rem; margin-left: 2rem; height: 5rem;">
            <div style="background-color: aquamarine; width: 5rem; height: 5rem; vertical-align: middle; border-radius:100%; margin: 0 auto; display: inline-block;" ></div>
          </div>
          <div class="col-8" style="background-color: aquamarine; height: 5rem; border-radius: 5px;">

          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="row justify-content-center align-items-center">
          <div class="col-2" style=" margin-right: 2rem; margin-left: 2rem; height: 5rem;">
            <div style="background-color: aquamarine; width: 5rem; height: 5rem; vertical-align: middle; border-radius:100%; margin: 0 auto; display: inline-block;" ></div>

          </div>
          <div class="col-8" style="background-color: aquamarine; height: 5rem; border-radius: 5px;">

          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center justify-content-center">
      <div class="col-7">
        <div class="row justify-content-center align-items-center">
          <div class="col-2" style=" margin-right: 2rem; margin-left: 2rem; height: 5rem;">
            <div style="background-color: aquamarine; width: 5rem; height: 5rem; vertical-align: middle; border-radius:100%; margin: 0 auto; display: inline-block;" ></div>
          </div>
          <div class="col-8" style="background-color: aquamarine; height: 5rem; border-radius: 5px;">

          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <p class="center main">Imaging a Place..</p>
    <p class="center main">where people could share all the trees they plant everyday</p>
    <p class="center main">and, where every tree will remember who planted it</p>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <p class="center main">Imaging a Place..</p>
    <p class="center main">where people could share all the trees they plant everyday</p>
    <p class="center main">and, where every tree will remember who planted it</p>
    <br>
    <br>
    <br>
  </div>


{% endblock %}
