{% extends "gotrees/base.html" %}

{% load static %}

{% block title %}My Forest{% endblock %}

{% block body %}
  <div class="container-fluid" style="margin:0; padding: 0; width: 100%">
    <div class="row">
      <div class="col-5 profile-container">
        <img class="photo-frame img-fluid" src="{% static 'gotrees/img/profil-2base.png' %}" id="frame" alt="Forest creator profile photo">
        <img class="user-photo img-fluid" src="{% static 'gotrees/img/image.jpg' %}" id="user-photo">
        <img class="photo-default img-fluid" src="{% static 'gotrees/img/profil-on-2base.jpeg' %}" alt="Not user photo yet">
        <!-- This is to give a good height for the div profile-container -->
        <img class="img-fluid" src="{% static 'gotrees/img/size.jpg' %}" id="size" alt="base">
      </div>
      <div class="col-7" style="background-color: #e8e8e8; padding: 5rem;" id="text-profile">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-12">
              <h3>{% if first_name %}{{ first_name }}'s'{% endif %} Forest Architecte</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="personal" style="text-align: center;">{% if my_phrase %}{{ my_phrase }}{% else %}What about an inspiring idea?{% endif %}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6 ">
              <p>Actuation Area:</p>
            </div>
            <div class="col-6 ">
              <p>Trees Already Planted:</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 ">
              <p class="personal">{% if country %}{{ country }}{% else %}Your Country{% endif %}</p>
            </div>
            <div class="col-6 ">
              <p class="personal">{% if number_trees %}{{ number_trees }}{% else %}0{% endif %}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ">
              <p class="personal">{% if region %}{{ region }}{% else %}Your Region{% endif %}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <p>Why do I do this?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="personal">
                {% if my_text %}{{ my_text }}{% else %}Here is the place to share your deep thoughts with People! :){% endif %}
              </p>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>{% if first_name %}{{ first_name }}'s{% endif %} Badges</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="done" alt="legend" style="background: url({% static 'gotrees/img/badges2.png' %}) 0 0;"></div>
          </div>
          <div class="col-2">
            <div class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) -100px 0;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3">
            {% if user.is_authenticated and user.username == user_username %}<a href="{% url 'edit_profile' user.username %}" alt="Edit my Profile"><button class="btn btn-secondary" type="button">Edit my Profile</button></a>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <div id="canvas" style="height: 300px;"></div>
  <script>
    // Enable the use of bootstrap tooltip on the profile bagges
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    // Adjust the profile photo to fit at the correct position in the frame
    let base = document.querySelector('#frame');
    let photo = document.querySelector('#user-photo');
    let size = document.querySelector('#size');
    function resize() {
      let resize = base.height / 3.30;
      let height = base.height / 2;
      let left = base.height / 7;
      photo.style.top = resize + 'px';
      photo.style.height = height + 'px';
      photo.style.width = height + 'px';
      photo.style.left = left + 'px';
      size.style.height = base.height + 'px';
    }
    document.addEventListener('DOMContentLoaded', () => {
      resize();
    });
    window.onresize = () => {
      resize();
    }
  </script>

{% endblock %}
